<div class ="btn-group btn-group-justified" role="group" aria-label="...">
	<div class="btn-group" role="group">
	  <button type="button" class="btn btn-danger">
	  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
	  </button>

    </div>
    <div class="btn-group" role="group">
	  <button type="button" class="btn btn-danger">
	  <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Tracker
	  </button>
    </div>
    <div class="btn-group" role="group">
	  <button type="button" class="btn btn-danger">
	  <span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Content
	  </button>
    </div>
    <div class="btn-group" role="group">
	  <button type="button" class="btn btn-danger">
	  <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Activities
	  </button>
    </div>
    <div class="btn-group" role="group">
	  <button type="button" class="btn btn-danger">
	  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Questions
	  </button>
    </div>
</div>

